name: deploy_app_production

on:
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    name: Deploy App Production
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.16.2"
          channel: "stable"
      - run: flutter packages get
      - run: flutter build web -t lib/main_production.dart --dart-define SHARING_ENABLED=true --dart-define="AI_API_URL={{ secrets.AI_API_URL }}"
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_DASH_AI_SEARCH_DEVELOPMENT }}"
          projectId: dash-ai-search-development
          target: app_staging
          expires: 30d
          channelId: live
